.title {
  &-n1 {
    font-size: 4rem;
    font-weight: 200;
    color: #8A2BE2;
  }

  &-n2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #00AD9F;
  }
}

.text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #333333;
}
